*.py[cod]
.*
!.babelrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslintrc.json
!.flowconfig
!.github
!.gitignore
!.gqlconfig
!.npmrc
!.nvmrc
!.plop
!.pylintrc
!.testcafe
!.travis*
!.tx
!.keep
*.log
*.pot
*.pyc
__pycache__/
build/
coverage/
*\.egg*
cache/*
